@import "tailwindcss";

body {
  background-image: url("/assets/background-site.png");
  background-size: contain; /* Mostra a imagem inteira */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Mantém a imagem fixa no scroll */
}
